/* styles.css */

body {
    background-color: #f8f9fa;
    height: 100vh;
    width: 100vw;
}

.container {
    /* max-width: 600px; */
    margin: auto;
}

#loader {
    display: none;
}
/* 
#repositories {
    list-style: none;
} */
.pic {
    height: 200px;
    width: 200px;
}

#ownerInfo {
    justify-content: center;
}

#repositories {
    display: none;
    /* grid-template-columns: repeat(2, auto); */
    flex-wrap: wrap;
    gap: 3rem;
    height: 60%;
    overflow: scroll;
    padding: 0rem 3rem 3rem 3rem;
}
#repositories .repo {
    flex: 1 1 45%;
    width: 50%;
    justify-content: space-between;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
}
